# 7 SHADES OF DATA - TEAM PROJECT 1
* **EN: STUDENT GRADING SYSTEM**
* **TR: Öğrenci not sistemi**

**Team members**

* **Coshgun Rehimli:** coshgunrehimli@gmail.com
* **Günel Alizada:** gunelrafig94@gmail.com
* **Mardan Mirzaguliyev:** mardan.mirzaguliyev@gmail.com
* **Narmin Azizova:** nrminazizova@gmail.com
* **Rəna İsgəndərova:** rena.isgenderova27@gmail.com
* **Shamistan Huseynov:** shamistan.huseynov@gmail.com
* **Turan Aghayev:** turan.agazadeh@gmail.com

**CONDITIONS:**

* Identify subjects like Mathemathics, Physics, Linear Algebra etc.
* Identify note intervals. (80-100 -> A, 70-79 -> B etc.)
* Build a system that you can enter and keep student information such as name, surname, school number, exam grade
* After receiving input the system should display whether a student passed or failed the subject
* If student passes the subject,  there should be a note added to the student information file such as "Passed"
* If student fails the subject, "Failed" should be displayed
* Create a dataframe containing all the student information received as an input, displaying the exam results of each student
* Save the results as an Excel file

**ŞARTLAR:**

* Kendinize bir ders belirleyiniz. (Matematik,Fizik, Lineer Cebir vb.)
* Not aralığınızı oluşturunuz (100-80 ⇒ A, 79-70 ⇒ B vb.)
* Öğrenci Bilgilerini (Ad, Soyad, Okul No, sınav puanı) girebileceğiniz ve bu bilgilerin tutulabileceği bir sistem oluşturunuz.
* Girilen bilgilerden yola çıkarak öğrencinin dersi geçip geçmediğini göstermesi gerekmektedir.
* Öğrenci dersi geçti ise öğrencinin bilgilerinin tutulduğu alana “Geçti” yazısı, öğrenci dersi geçemedi ise “kaldı” yazısını göstermesi gerekmektedir.
* Notları girilen öğrencilerden dersi geçenleri ve geçmeyenleri gösteren bir Dataframe oluşturunuz.
* Oluşturulan Dataframe’i Excel tablosuna dönüştürünüz.

In [2]:
# import libraries for both of the projects
import pandas as pd
import numpy as np
from openpyxl import Workbook
import seaborn as sns
import matplotlib.pyplot as plt
import chardet
from dateutil.parser import parse
import plotly.graph_objects as px
import plotly.express as po

### Create grading interval

In [3]:
def gradeStudent(point):
    if point >= 90:
        return 'A'
    elif point >= 80 and point < 90:
        return 'B'
    elif point >= 70 and point < 80:
        return 'C'
    elif point <= 60 and point > 50:
        return 'D'
    else:
        return 'F'

### Create student information system

In [4]:
class Student:
    def __init__(self, name, surname, schoolNo, subject, grade):
        self.name = name
        self.surname = surname
        self.schoolNo = schoolNo
        self.subject = subject
        self.grade = gradeStudent(point)

## NOTE: FINISH THIS TO PROCEED TO THE NEXT LINES OF CODES

In [5]:
# empty list that will contain information about student results
students_results = []

try:
    iterations =  int(input("Please enter the number of students that you want to include in Excel file: "))
except:
    # in case if there is not correct type inserted we will throw this error
    raise TypeError("Type is not correct")

for i in range(iterations):
    # we are starting to take inputs from user
    try:
        print('------')
        name = input("Name: ").upper()
        surname = input("Surname: ").upper()
        schoolNo = input("schoolNo: ")
        subject = input("Subject: ").upper()
        point = int(input("Point: "))
        
        #We are creating our model
        student  = Student(name, surname, schoolNo, subject, point)
        students_results.append(student)
    except:
        raise TypeError("Type is not correct")


# We are converting list of students to DF then print and save it excel file
df_results = pd.DataFrame([t.__dict__ for t in students_results])
#df_results = df_results.loc[:, df_passed.columns!='passed']

print("Students' results")
print(df_results)
df_results.to_excel('students-results.xlsx')

Please enter the number of students that you want to include in Excel file: 1
------
Name: mardan
Surname: mirzayev
schoolNo: 32
Subject: math
Point: 77
Students' results
     name   surname schoolNo subject grade
0  MARDAN  MIRZAYEV       32    MATH     C

# 7 SHADES OF DATA - TEAM PROJECT 2: "NETFLIX DATA ANALYSIS"

**Team members**

* **Coshgun Rehimli:** coshgunrehimli@gmail.com
* **Günel Alizada:** gunelrafig94@gmail.com
* **Mardan Mirzaguliyev:** mardan.mirzaguliyev@gmail.com
* **Narmin Azizova:** nrminazizova@gmail.com
* **Rəna İsgəndərova:** rena.isgenderova27@gmail.com
* **Shamistan Huseynov:** shamistan.huseynov@gmail.com
* **Turan Aghayev:** turan.agazadeh@gmail.com

## Detect encoding of 'NetflixOriginals.csv' file

### NOTE: CHANGE FILE DIRECTORY IF RAISES NO FILE OR DIRECTORY ERROR

In [ ]:
with open("../input/netflixoriginals/NetflixOriginals.csv", 'rb') as rawdata:
  result = chardet.detect(rawdata.read(100000))
result

The code returns that encoding is in the most common encoding format "UTF-8".

In [ ]:
df = pd.read_csv("../input/netflixoriginals/NetflixOriginals.csv", encoding="utf-8")
df

## Get the basic information about data

In [ ]:
# variables to explore
df.columns

In [ ]:
df.info()

In [ ]:
df.describe()

'describe()' functions returned some basic information about the numerical variables in dataset.

## Identify data types of variables

In [ ]:
df.dtypes

In [ ]:
# number of observations
len(df)

Names of variables in dataset and number of variables also number of observations have been identified. There are 6 columns and 584 observations in this dataset.

## Check for NA values

In [ ]:
df.isna().any()

# Question 1

* EN: **In what language most of the long runtime movies have been filmed? Visualize the results.**
* TR: **Veri setine göre uzun soluklu filmler hangi dilde oluşturulmuştur? Görselleştirme yapınız.**

According to the dataset in what language long runtime movies have been filmed?
(Veri setine göre uzun soluklu filmler hangi dilde oluşturulmuştur? Görselleştirme yapınız.)

First task was to identfy in which language long runtime movies have been filmed. According to [Academy of Motion Picture Arts and Sciences](https://en.wikipedia.org/wiki/Academy_of_Motion_Picture_Arts_and_Sciences), [short movies](https://en.wikipedia.org/wiki/Short_film) are movies with a running time of 40 minutes or less, including all credits. So, films with a running time of greater than 40 minutes are needed to be filtered out. For clarity, in this project films with runtime values greater than 45 minutes have been taken as long runtime movies. Because, there are some movies with 41, 42 and near runtime values which seem to include longer credits time.

In [ ]:
long_runtime = df[df['Runtime'] > 45].sort_values("Runtime", ignore_index=True)
long_runtime.head(30)

The results of new dataset have been visualized in bar graph to see in which languages the movies have been filmed. To do this, first, unique values in 'Languages' column were be identified to check if there were duplicates or misspellings.

In [ ]:
unique_languages = long_runtime["Language"].unique()
unique_languages

Then, these unique values were counted and sorted in descending order

In [ ]:
language_counts = long_runtime.groupby("Language")["Language"].count().sort_values(ascending=False).to_frame("Number of movies")
language_counts

In [ ]:
language_countsTop5 = language_counts.head(5)
language_countsTop5

In [ ]:
language_countsTop5.plot.pie(y="Number of movies", legend=False, autopct='%1.1f%%')

In [ ]:
language_countsTop5.plot.bar(color="blue")

As it is obvious from both of the graphs English is a dominant language. 363 movies with long runtime have been filmed in English. Also, there are movies filmed in two or three languages together which also include English.

# Question 2

* **EN: Visualize the IMDB scores of the 'Docementary' movies that filmed between January, 2019 and June, 2020.**
* **TR: 2019 Ocak ile 2020 Haziran tarihleri arasında 'Documentary' türünde çekilmiş filmlerin IMDB değerlerini bulup görselleştiriniz.**

In introduction section 'dtype' function returnd data types of dataframe. All columns except for 'Runtime' and 'IMDB Score' was object data type which means string. To filter data frame according to the given time period, data type of "Premiere" column was needed to be converted into data format.

## Convert the type of data in 'Premiere' column to date format

In [ ]:
df['Premiere'] = pd.to_datetime(df['Premiere'])

## Define start and end date

In [ ]:
start_date='2019-01-01'
end_date='2020-06-01'

## Create filtered dataframe according to dates

In [ ]:
mask = (df['Premiere'] >= start_date) & (df['Premiere'] <= end_date)
df_dates = df.loc[mask].reset_index().iloc[: , 1:]
df_dates

## Create new dataframe with only documentary movies and selected start and end dates

In [ ]:
docs_dates = df_dates[df_dates['Genre'] =='Documentary'].sort_values("IMDB Score", ascending=False, ignore_index=True)
docs_dates
top_ten_docs = docs_dates.head(10)
top_ten_docs

In [ ]:
top_ten_docs.plot.bar(x = "Title", y = "IMDB Score", color="blue")

Both the final data frame and bar graph revealed that documentary film "Dancing with the birds" has the highest IMDB score among the documentary films filmed between January 1, 2019 and June 30, 2020.

# Question 3
* **EN: Which movie genre the film with the highest IMDB score has been filmed in English?**
* **TR: İngilizce çekilen filmler içerisinde hangi tür en yüksek IMDB puanına sahiptir?**

New data frame was created containing only the movies that filmed in English. By sorting this list according to the IMDB score in descending order, the answer will be found to the third question.

In [ ]:
english_movies = df.loc[df['Language'] == 'English'].sort_values("IMDB Score", ascending=False, ignore_index=True)
english_movies

So, a film  "A Life on Our Planet" is the highest ranked film with IMDB score of 9.0 and its genre is Documentary.

# Question 4

* **EN: What is the average runtime value of films filmed in 'Hindi'?**
* **TR: 'Hindi' Dilinde çekilmiş olan filmlerin ortalama 'runtime' suresi nedir?**

In [ ]:
hindi_avg_runtime = round(df[df["Language"] == "Hindi"]["Runtime"].mean())
hindi_avg_runtime

Code snipped above returned that average runtime of films in Hindi language is 116 minutes.

# Question 5

* **EN: How many categories are there in Genre column? Visualize.**
* **TR: Genre' Sütunu kaç kategoriye sahiptir ve bu kategoriler nelerdir? Görselleştirerek ifade ediniz.**

In [ ]:
df["Genre"].unique()
df["Genre"].value_counts()
print(df["Genre"].value_counts())
topgenre = df["Genre"].value_counts().nlargest(30)
topgenre

fig = po.bar(data_frame=topgenre, x=topgenre.index, y=topgenre.values, labels={"y":"Number of Movies from the Genre", "index":"Genres"})
fig.update_layout(xaxis={"categoryorder":"total descending"})

fig.show()

# Question 6

* **EN: Find 3 most commonly used languages in dataset.**
* **TR: Veri setinde bulunan filmlerde en çok kullanılan 3 dili bulunuz.**

**The most used three languages**

Using value_counts() function, find most used languages in the films and print first three

In [ ]:
lang_count = df["Language"].value_counts().head(3)
lang_count

## Question 7

* **EN: Find 10 films with highest IMDB score.**
* **TR: IMDB puanı en yüksek olan ilk 10 film hangileridir?)**

## Create sorted list of films

In order to identify 10 films with highest IMDB rankings the data frame was sorted in descending order by IMDB score variable. Then, first 10 films listed.

In [ ]:
sorted_films = df.sort_values(by="IMDB Score", ascending=False, ignore_index=True).head(10)
sorted_films

New dataframe contains the list of 10 films with the highest IMDB score.

## Question 8

* **EN: What is the correlation between IMDB score and Runtime? Visualize.**
* **TR: IMDB puanı ile 'Runtime' arasında nasıl bir korelasyon vardır? İnceleyip görselleştiriniz.**

In [ ]:
plt.scatter(df['IMDB Score'],df['Runtime'])
plt.show()

In [ ]:
correlation_value = df['IMDB Score'].corr(df['Runtime'])
correlation_value

## Question 9

* **EN:What are the 10 Genre with the highest IMDB score?**
* **TR: IMDB Puanı en yüksek olan ilk 10 'Genre' hangileridir? Görselleştiriniz.**

In [ ]:
top_imdb_genre = df.sort_values(by = ['IMDB Score'], ascending = False, ignore_index=True).head(10)
top_imdb_genre

In [ ]:
fig1, ax1 = plt.subplots()
ax1.bar(top_imdb_genre['Genre'],top_imdb_genre['IMDB Score'], width = 0.5, color = 'blue')
fig1.set_figwidth(20)

plt.show()

So, as the graph says documentary movies have the highest IMDB rankings.

## Question 10

* **EN: List 10 movies with longest 'Runtime' and visualize.**
* **TR: 'Runtime' değeri en yüksek olan ilk 10 film hangileridir? Görselleştiriniz.**

In this task we should find top ten longest movies according to their 'Runtime'. For solving this task, we use *pandas* library for reading data, then with methods below, we find the result which we want

In [ ]:
top_data_runtime = df.sort_values(by = ['Runtime'], ascending = False, ignore_index=True).head(10)
top_data_runtime

In [ ]:
fig1, ax1 = plt.subplots()
ax1.bar(top_data_runtime['Title'],top_data_runtime['Runtime'], width = 0.5, color = 'blue')
fig1.set_figwidth(20)

plt.show()

# Question 11

* **EN: In which year the number of movies filmed is the highest? Visualize the results.**
* **TR: Hangi yılda en fazla film yayımlanmıştır? Görselleştiriniz.**

According to our task, we should group by our tasks according to year then visualize the result. But we had a problem that Year column does not only contains year itself. For example data format is something like this *April 2, 2020*. Therefore we firstly took *Premiere* column, then we from each row, we only took last for characters (year length is 4), then we converted it to integer for grouping by easily. After all, we assigned new column to older one. To our updated dataframe, we applied *groupby()* method. Then we are defining years and number of movies in each year and take 3 top years.

In [ ]:
top_data_max_count = df.sort_values(by = ['Runtime'], ascending = False, ignore_index="True").head(10)
top_data_max_count

sns.histplot(data=top_data_max_count, x="Runtime", kde= True)

top_data_max_count.plot.barh(stacked=True);

fig1, ax1 = plt.subplots()
ax1.pie(top_data_max_count['Runtime'],  labels=top_data_max_count['Title'], autopct='%1.1f%%',shadow=True, startangle=90)

plt.show()

# Question 12

* **EN: Which movies have the lowest IMDB scores and in what languages they have been filmed? Visualize.**
* **TR: Hangi dilde yayımlanan filmler en düşük ortalama IMBD puanına sahiptir? Görselleştiriniz.**

## Sort data set according to IMDB score

In [ ]:
imdb_score = df.sort_values('IMDB Score')
imdb_score.head(100)

## Create new dataframe populated with the movies IMDB scores less than 6

In [ ]:
lessthan6 = imdb_score[imdb_score['IMDB Score'] < 6]
lessthan6

In [ ]:
unique_language = lessthan6.Language.unique()
unique_language

In [ ]:
# sort according to the counts in descending order
language_counts = lessthan6.groupby("Language")["Language"].count().sort_values(ascending=False)
language_counts

In [ ]:
# top 5 languages with films with lowest IMDB ranking 
five_movies_lowthan6 = language_counts.head(5)

In [ ]:
# Visualize the results
barplot = five_movies_lowthan6.plot.bar('lessthan6', 'unique_language', color='blue')

# Question 13

* **EN:Which year has the highest total runtime?**
* **TR: Hangi yılın toplam "runtime" süresi en fazladır?**

In [ ]:
df['Year'] = pd.DatetimeIndex(base_df['Premiere']).year
df

In [ ]:
runtime_byYear = df.groupby('Year').aggregate({'Runtime':'sum'}).sort_values("Runtime", ascending=False)
runtime_byYear

In [ ]:
plot = runtime_byYear.plot.pie(subplots=True, figsize=(11, 8), autopct='%1.1f%%')

In [ ]:
ax = runtime_byYear.plot.barh(color={"Runtime": "blue"}, width=0.8)

# Question 14 ??NOT SUBMITTED??

* **EN: Which genre is the mostly used genre in each language?**
* **TR: Her bir dilin en fazla kullanıldığı "Genre" nedir?**

# Question 15

* **EN: Are there any outliers in the dataset? Identify.**
* **TR: Veri setinde outlier veri var mıdır? Açıklayınız.**

In [ ]:
# check for the outliers in Runtime column
fig = po.box(df, y="Runtime")
fig.show()

In [ ]:
# Check outlier in IMDB Score column
fig = po.box(base_df, y="IMDB Score")
fig.show()

In [ ]:
# join two plots
plot = px.Figure()
 
plot.add_trace(px.Box(y=base_df['Runtime'],name="Runtime"))
plot.add_trace(px.Box(y=base_df['IMDB Score'],name='IMDB Score'))

plot.show()